app-result {
    background-color: #464033;
    min-width: 12rem;
    border: .1rem #140005 solid;
    border-radius: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

app-numbers {
    display: flex;
    flex-direction: row;
}

app-buttons{
    display: flex;
    flex-direction: column;
}