.resultado h1{
    color: #BBC4C2;
    text-align: left;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.resultado{
    background-color: #464033;
    min-width: 12rem;
    margin: 0;
    /* border: 0; */
    border-radius: .5rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.numeros p{
    color: white;
}

.numeros{
    display: flex;
    flex-direction: row;
}

.botones{
    display: flex;
    flex-direction: column;
}

input{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: #BBC4C2;
    background-color: #7E7C73;
}